/* Gaya untuk elemen Button */
.button {
    -fx-background-color: #348ca7; /* Warna latar belakang */
    -fx-text-fill: #020202; /* Warna teks */
    -fx-font-size: 20px; /* Ukuran font */
    -fx-padding: 16px 32px; /* Padding */
}

/* Gaya untuk elemen Label */
.label {
    -fx-font-size: 16px; /* Ukuran font */
    -fx-font-weight: bold; /* Ketebalan font */
    -fx-text-fill: #333333; /* Warna teks */
}

/* Gaya untuk elemen TextField */
.text-field {
    -fx-pref-width: 200px; /* Lebar preferensi */
    -fx-font-size: 14px; /* Ukuran font */
}

/* Gaya untuk elemen ComboBox */
.combo-box {
    -fx-pref-width: 200px; /* Lebar preferensi */
    -fx-font-size: 14px; /* Ukuran font */
}

/* Gaya untuk elemen TableView */
.table-view {
    -fx-pref-width: 400px; /* Lebar preferensi */
    -fx-pref-height: 300px; /* Tinggi preferensi */
}

/* Gaya untuk elemen TableColumn */
.table-column {
    -fx-pref-width: 100px; /* Lebar preferensi */
    -fx-alignment: CENTER; /* Penyelarasan teks */
}

/* Gaya untuk elemen ListView */
.list-view {
    -fx-pref-width: 200px; /* Lebar preferensi */
    -fx-pref-height: 200px; /* Tinggi preferensi */
}

/* Gaya untuk elemen TextArea */
.text-area {
    -fx-pref-width: 200px; /* Lebar preferensi */
    -fx-pref-height: 100px; /* Tinggi preferensi */
    -fx-font-size: 14px; /* Ukuran font */
}